.myavatar {
  border-radius: 4px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.loadmorebutton{
  margin: 'auto';
  display: 'block';
}
.disable-color {
  color: inherit; /* Use the parent's color */
  text-decoration: none; /* Remove underline */
}